.main {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    margin-top: 200px;
    width: 1000px;
    height: 500px;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.row {
    height: 60px;
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.idBtn {
    float: right;
}
.idBtn {
    width: 80px;
    height: 25px;
}
.inputRow {
    width: 400px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.text {
    width: 250px;
    height: 22px;
}
.idText{
    width: 150px;
    height: 22px;
}
.btn {
    margin-top: 20px;
    display: block;
    width: 100px;
    height: 25px;
    margin-left: 10px;
}
.label {
    display: block;
    text-align: left;
    width: 120px;
}
.popup {
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0 auto;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: lightslategrey;
    border-radius: 30px;
    position: fixed;
}